@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.ttf") format("ttf"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf") format("ttf"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2");
}

body {
    margin: 0;
    padding: 0;
    border: none;
}

main {
    background: #ffffff;
    color: #ffffff;
    font-family: OpenSans-Bold;
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
    justify-content: center;
    align-content: center;
}

@media (min-width: 640px){

}

@media (min-width: 641px) and (max-width: 1199px){

}

@media (min-width: 1200px){

}

.header {
    position: relative;
    background-image: url(../images/banner-bg.jpg);
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 0;
    margin: 0;
    padding-top: 0;

    width: 100%;

}

.header::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.45;
    z-index: -1;
}

.header_container{
    width: 75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 5.5rem;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.logo_menu{
    background: none;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 26rem;
    width: 100%;
    padding: 0;
    margin: 0;
}

.logo_svg{
    background: none;
    padding-top: 0;
    padding-left: 0;
    width: 12rem;
    margin: 0;
}

.nav{
    background: none;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 2rem
}

.nav_item{
    background: none;
    align-self: center;
    font-size: 0.8125rem;
    font-family: OpenSans-Regular;
}

.href_white{
    color: #ffffff;
    text-decoration: none;
}

.title{
    background: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

.title_h1{
    background: none;
    text-align: center;
    font-size: 2.8125rem;
    line-height: 4rem;
    margin: 0;
    padding-left: 4.5rem;
}

.hero {
    background: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding:0;
}

.hero_header{
    background: none;
    align-self: center;
}

.hero_header_title{
    text-align: center;
    font-size: 1.25rem;
    color: #000000;
}

.sublime{
    border: 0.1rem solid #b59f5b;
    width: 4rem;
}

.hero_content{
    background: none;
    display: flex;
    margin-top: 1.4375rem;
}

.hero_post{
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

.hero_post_header{
    display: flex;
    flex-wrap: wrap;
    border: 0.2rem solid #b59f5b;
    padding: 1.875rem;
    align-content: flex-end;
}

.hero_post_title{
    color: #ffffff;
    font-size: 1.25rem;
    font-family: OpenSans-Bold;
    margin: 0;
    padding:0;
    align-self: flex-end;
    width: 100%;
}

.post_1{
    position: relative;
    background-image: url(../images/trend1.jpg);
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 0.4rem;
    z-index: 0;
}

.post_1::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.45;
    z-index: -1;
}

.post_2{
    position: relative;
    background-image: url(../images/trend2.jpg);
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 0.4rem;
    z-index: 0;
}

.post_2::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.45;
    z-index: -1;
}

.post_3{
    position: relative;
    background-image: url(../images/trend3.jpg);
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 0.4rem;
    z-index: 0;
}

.post_3::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.45;
    z-index: -1;
}
.post_4{
    position: relative;
    background-image: url(../images/trend4.jpg);
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
}

.post_4::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.45;
    z-index: -1;
}

.container{
    display: flex;
    flex-wrap: nowrap;
}

.content_aside{
    background: none;
    display: flex;
    flex-wrap: nowrap;
    gap: 0;
    width: 75rem;
    padding: 0;
    margin: 0;
}

.content {
    background: none;
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
    width: 74%;
    padding-left: 1rem;
    padding-right: 6rem;
    margin: 0;
    justify-content: center;
    align-content: flex-start;
}

.sidebar {
    background: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 26%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    justify-content: center;
    align-content: flex-start;
}

.content_post{
    background: none;
    display: flex;
    gap: 1rem;
    width: 100%;
    color: #000000;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-content: flex-start;
}

.post_photo{
    width: 42%;
    background: none;
}

.content_photo{
    width: 100%;
    height: 100%;
}

.post_body{
    background: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    width: 58%;
    padding-left: 2rem;
    padding-right: 0;
    padding-top: 0;
    margin: 0;
    justify-content: flex-start;
    align-content: flex-start;
}

.labels{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.date_author{
    list-style-type: none;
    padding: 0;
    gap: 1rem;
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
    justify-content: flex-start;
}

.label{
    margin-right: 2rem;
    margin-left: 0;
    font-size: 0.875rem;
    color: #b59f5b;
}

.href_yellow{
    color: #b59f5b;
    text-decoration: none;
}


.post_title{
    color: #000000;
    font-size: 1.25rem;
    width: 100%;
    align-self: flex-start;
    margin-bottom: 1rem;
}

.date{
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
    color: #888888;
    font-family: OpenSans-Regular;
}

.author{
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
}

.post_content{
    font-family: OpenSans-Regular;
    font-size: 0.9375rem;
    width: 100%;
}


.latest_posts{
    background: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-content: flex-start;
}

.aside_header{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-content: flex-start;
    padding: 0;
    margin: 0;
}

.aside_header_title{
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 0.875rem;
    text-align: center;
    color: #000000;
}

.latest_posts_content{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.latest_post{
    display: flex;
    gap: 1rem;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
    background: none;
}

.latest_post_photo{
    width: 25%;
    background: none;
    margin: 0;
    padding: 0;
}

.latest_photo{
    width: 110%;
    height: 100%;
}

.latest_post_body{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    gap:0;
    background: none;
    justify-content: flex-start;
    align-content: flex-start;
}

.latest{
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    width: 100%;
    background: none;
}

.latest_date{
    margin: 0;
    padding: 0;
    width: 100%;
    background: none;
}

.search{
    background: #000000;
    width: 100%;
    padding: 0;
    display: flex;
}

.form_search{
    background: #000000;
    padding: 0;
    display: flex;
    width: 100%;
}

.field_search{
    background: #E8E8E8;
    flex:1;
    padding: 1.1rem;
    font-size: 0.8rem;
    border: none;
    outline: none;
    margin: 0;
}

.button_search{
    flex: 0 1 3rem;
    background: #b59f5b;
    background-image: url("../svg/search.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40% 40%;
    border: none;
    outline: none;
    margin: 0;
}

.subscribe{
    background: none;
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.form_subscribe {
    margin-top: 1.4375rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.field_subscribe{
    flex: 1;
    background: #E8E8E8;
    padding: 1.1rem;
    font-size: 0.8rem;
    border: none;
    outline: none;
    margin-bottom: 1.25rem;
}

.button_subscribe{
    flex: 1;
    background: #b59f5b;
    border: none;
    outline: none;
    padding: 1rem;
    margin: 0;
    color: #ffffff;
    font-size: 0.875rem;
    font-family: OpenSans-Bold;
}

.tags{
    background: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-content: center;

}

.tags_container{
    background: none;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
}

.tag{
    background: #ffffff;
    border: 0.2rem solid #D3D3D3;
    font-size: 0.7rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    color: #000000;

}

.href_black{
    color: #000000;
    text-decoration: none;
}

.categories{
    background: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.categories_container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    background: #ffffff;
    padding: 0;
    width: 100%;
}

.category{
    width: 100%;
    background: #ffffff;
    border-bottom: 0.1rem solid #D3D3D3;
    color: #000000;
    font-size: 0.875rem;
    margin: 0;
    padding: 0;
}

.count{
    color: #b59f5b;
    vertical-align: super;
}

.bottom_bar {
    background: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 73rem;
    margin: 0;
}

.shop_header{
    background: none;
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    font-family: OpenSans-Bold;
    color: #000000;

}

.content_shop{
    background: none;
    width: 100%;
    margin-top: 1.4375rem;
    display: flex;
    gap: 7.25rem;
    flex: 1 1 0;
    color: #000000;
}

.shop_post{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    gap: 0;
    margin: 0;
    padding: 0;
}

.shop_photo{
    margin: 0;
    padding: 0;
}

.shop_body{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-content: flex-start;
    border: 0.2rem solid #b59f5b;
    min-height: 12rem;
    margin-top: -2rem;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3.4rem;
    padding-bottom: 1.5rem;
}

.shop_post_title{
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    font-family: OpenSans-Bold;
}

.shop_post_content{
    margin: 0;
    padding: 0;
    font-family: OpenSans-Regular;
}

.shop_link{
    color: #b59f5b;
}

.shop_post_footer{
    display: flex;
    margin: 0;
    padding: 0;
}

.prices{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.price_regular{
    font-size: 0.875rem;
    text-decoration: line-through;
}

.price_discounted{
    font-size: 1.25rem;
}

.button_shop{
    flex: 1;
    background: #b59f5b;
    border: none;
    outline: none;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.625rem;
    padding-right: 1.625rem;
    margin: 0;
    color: #ffffff;
    font-size: 0.875rem;
    font-family: OpenSans-Bold;
    margin-left: 5.8rem;
}

footer {
    background: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 73rem;
}

.social{
    background: none;
    width: 100%;
    background: #E8E8E8;
    display: flex;
    gap: 1.75rem;
    justify-content: center;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
}

.dribbble{
    width: 1.4rem;
    height: 1.4rem;
}

.pinterest{
    width: 1.4rem;
    height: 1.4rem;
}

.tumblr{
    width: 1.4rem;
    height: 1.4rem;
}

.copyright{
    background: none;
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
    color: #999999;
    padding-top: 4.5rem;
    padding-bottom: 2.8rem;

}

